<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock%}</title>
</head>

<header>
    <div class="logo">
        <span>Global Work</span>
    </div>
    <div class="div_nav">
        <nav class="nav">
            <ul>
                {% if request.user.is_authenticated %}
                    {% if request.user.states == 'worker' %}
                        <li><a href="{% url 'job:home_job' %}">Home</a></li>
                        <li><a href="{% url 'profiles:list_academic' %}">AcademicProfile</a></li>
                        <li><a href="{% url 'profiles:list_work' %}">WorkProfile</a></li>
                        <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    {% elif request.user.states == 'employer' %}
                        <li><a href="{% url 'job:list_job' %}">Job</a></li>
                        <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                    <li><a href="{% url 'account:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="AppWrapper">{% block content %}{% endblock %}</div>
</body>
<footer>
    <div class="footer">
        <p>Global Work &copy; 2024</p>
    </div>
</footer>
</html>