asgiref==3.7.2
astroid==3.0.2
dill==0.3.8
distlib==0.3.8
Django==4.2.2
filelock==3.13.1
isort==5.13.2
mccabe==0.7.0
# mysqlclient==2.2.4
platformdirs==4.2.0
pylint==3.0.3
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
virtualenv==20.25.1
